{% extends '::base.html.twig' %}

{% block body %}

<div class="layout-inside-column">
    {% if (kitCmsPageData.page.level > 2 and kitCmsPageData.page.hasChildren) or (kitCmsPageData.page.level > 3) %}
    <div class="app-navigation-level2 app-block-contextual">
        <h3>Navigation</h3>
        {{ render(controller('KitpagesCmsBundle:Nav:widget', {
            'slug': kitCmsPageData.page.language|default(cms.currentLanguage) ~ '-main',
            'cssClass': "",
            'currentPageSlug':kitCmsPageData.page.slug|default(''),
            'startDepth':2 ,
            'endDepth':2
        } )) }}
    </div>
    {%endif%}
    {{ render(controller('KitpagesCmsBundle:Page:widgetZone', {'location_in_page': 'column', 'page':kitCmsPage} )) }}
    <div class="app-block-contextual">
        {{ render(controller('KitpagesCmsBundle:Block:widget', {'slug': languageManager.currentLanguage|default('en') ~ '-contextual'} )) }}
    </div>
</div>
<div class="layout-inside-main">
    <div class="app-date-author">
        {% if kitCmsPageData.root.author|default('') %}
        <span class="app-author">Par {{ kitCmsPageData.root.author }}</span>
        {% endif %}
        {% if kitCmsPageData.root.date|default('') %}
        <span class="app-date">Dernière mise à jour : {{ kitCmsPageData.root.date|kit_strftime("%d %B %Y") }}</span>
        {% endif %}
    </div>
    {%if kitCmsPageData.page.title|default('') %}
    <h1>{{ kitCmsPageData.page.title}}</h1>
    <div class="app-separator"></div>
    {%endif%}
    {{ render(controller('KitpagesCmsBundle:Page:widgetZone', {'location_in_page': 'main', 'page':kitCmsPage} )) }}
</div>
<div style="clear:both;"></div>
{% endblock body %}
